
body{
    background-color: hsl(36, 100%, 99%);
    margin: 0;
    padding: 0;
}
p{
    font-size: 15px;
    font-family: sans-serif;
    color: hsl(236, 13%, 42%);
}

/* styling the main div */
.main{
    margin: 2%;
}

/* ------------ styling the navbar ------------- */
.navbar{
    display: flex;
    padding-bottom: 20px;
    font-family: sans-serif;
}

/* styling ul content */
.content{
    display: flex;
}
ul{
    list-style: none;
    position: absolute;
    right: 0;
    top: 3%;
}
.content li a:hover{
    color: hsl(5, 85%, 63%);
}
.content li a{
    list-style: none;
    color: hsl(236, 13%, 42%);
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin-right: 40px;
}

/* styling the main 2 div */
.main2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: sans-serif;
}

/* styling text with image */
.twi{
    width: 93%;
}
.twi img{
    width: 100%;
}

/* styling textmain */
.textmain{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textmain .bigtext{
    width: 65%;
}
.smalltext{
    width: 97%;
}
.textmain h4{
    background-color: hsl(5, 85%, 63%);
    width: 120px;
    padding: 8px;
    text-align: center;
}
.textmain h4:hover{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
}

/* styling textbox */
.textbox{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding-right: 24px;
    padding-left: 0;
}
.textbox ol{
    list-style: none;
}

/* styling text div */
.text h3{
    color: hsl(35, 77%, 62%);
}
.text h4:hover{
    color: hsl(35, 77%, 62%);
}
.text hr{
    border: 1px solid hsl(233, 8%, 79%);
}

/* styling main 3 div */
.main3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    font-family: sans-serif;
}
.main3 img{
    width: 100%;
}
.main3 h3{
    color: hsl(5, 85%, 63%);
}
.main3 h4:hover{
    color: hsl(5, 85%, 63%);
}

/* styling other 1 */
.other1{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.ot1{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

/* styling other 2 */
.other2{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.ot2{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

/* styling other 3 */
.other3{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.ot3{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}